*{margin:0px auto;}
.allproducts{width:100%;height:200px;margin-top: 17px;}
.singleproduct{width: 17%;
height: 308px;
float: left;
margin-left: 25px;
box-shadow: 1px 1px 1px 1px;
text-align: center;}
.electronic{width: 99%;
height: 197px;}
.product{width: 93%;
font-size: 12px;}
.price{color: #0eb4c1;
font-size: 17px;width: 27%;
margin-left: 9px;float: left}
.view{font-size: 11px;
margin-left: 15px;
color: #fff;
background: #0eb4c1;

padding: 10px;}
.deal{font-size: 22px;

margin-left: 35px;}







